html{
  font-family: helvetica;
  text-align: center;
}

.header{
  background-image: url("../images/flatiron.png");
  background-size: 1850px 370px;
}

h1{
  font-size: 60px;
  font-weight: bold;
  color: white;
}

h5{
  font-size: 16px;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px
  font-weight: bold;
}

p{
  font-size: 14px;
}
